@{
    ViewBag.Title = "Password Reset Email Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
