@model dynamic

@{
    ViewBag.Title = "Confirm Your Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        An email with a confirmation link has been sent. Please click on the link in the email to confirm your account.
    </p>
</div>