@{
    ViewBag.Title = "Confirm your account";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        An email with a confirmation link has been sent. Please click on the link in the email to confirm your account.
    </p>
</div>
