@{
    ViewBag.Title = "Home Page";
}

<h1>Hello World</h1>
<p><strong>Start your dream project now...</strong></p>

@if (User.Identity.IsAuthenticated)
{
    <p>
        Congratulations!! You are logged in @User.Identity.Name
    </p>
}